// PageTitle.scss
@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

.page-title {
    margin: $one-percent 0 0 0;
    padding: $half-percent;
    text-decoration: underline;
}