//==================================-Mixins-==================================

//------------------------------------Flex------------------------------------
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
//------------------------------------Size------------------------------------
@mixin size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}
//--------------------------------Square-Size---------------------------------
@mixin square-size($width-height: 100%) {
    width: $width-height;
    height: $width-height;
}
//----------------------------Basic-Margin-Padding----------------------------
@mixin basic-margin-padding($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}