@import "../global-variables";
@import "../global-mixins";
@import "../global-functions";

h1 {
    font-size: $h1-font-size;
    @include basic-margin-padding(0, 0);
}
h2 {
    font-size: $h2-font-size;
    @include basic-margin-padding(0, 0);
}
h3 {
    font-size: $h3-font-size;
    @include basic-margin-padding(0, 0);
}
h4 {
    font-size: $h4-font-size;
    @include basic-margin-padding(0, 0);
}
h5 {
    font-size: $h5-font-size;
    @include basic-margin-padding(0, 0);
}
h6 {
    font-size: $h6-font-size;
    @include basic-margin-padding(0, 0);
}
p {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}
span {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    min-height: 100vh;
    @include basic-margin-padding(0, 0);
    @include flex(center, center, column);
    main {
        width: 100%;
        @include flex(center, center, column);
    }
}