@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";

.piano {
    @include basic-margin-padding($zero, $zero);
    scale: 0.75;
    .key-container {
        display: flex;
        .octave-container {
            display: flex;
            flex-direction: column;
            .opening-octave {

            }
            position: relative;
            .key-octave {
                display: flex;
                position: relative;
            }
            .white-keys-octave {
                @include flex(center, center, row);
                .key {
                    width: $one-half-percent;
                    height: $ten-percent;
                    background-color: $pristine-white;
                    border: $thin-border solid $charcoal;
                    cursor: pointer;
                    &:hover {
                        background-color: $light-grey;
                        cursor: pointer;
                    }
                    &:active {
                        background-color: $charcoal;
                        cursor: pointer;
                    }
                }
            }
            .black-keys-octave {
                @include flex(center, center, row);
                position: absolute;
                .key {
                    width: $one-percent;
                    height: $six-percent;
                    background-color: $charcoal;
                    margin: $zero $zero $zero calc($two-third-percent * 0.9);
                    border : {
                        right: $thin-border solid $pristine-white;
                        left: $thin-border solid $pristine-white;
                        bottom: $thin-border solid $pristine-white;
                    }
                    cursor: pointer;
                    &:hover {
                        background-color: $absolute-black;
                        cursor: pointer;
                    }
                    &:active {
                        background-color: $pristine-white;
                        cursor: pointer;
                    }
                }
                .key:nth-child(1) {
                    margin-left: calc($one-percent * 1.1);
                }
                .key:nth-child(2) {
                    margin-right: $one-half-percent;
                }

            }
        }
    }
}
.white-key-pressed {
    background-color: $charcoal !important; // TODO: Add functionality in .tsx for more specific styles to remove !important.
}
.black-key-pressed {
    background-color: $darker-grey !important; // TODO: Add functionality in .tsx for more specific styles to remove !important.
}

@media screen and (max-width: 1200px) {
    .piano {
        scale: 0.65;
    }
}
@media screen and (max-width: 1000px) {
    .piano {
        scale: 0.55;
    }
}

@media screen and (max-width: 800px) {
    .piano {
        scale: 0.45;
    }
}

@media screen and (max-width: 600px) {
    .piano {
        scale: 0.35;
    }
}