@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-variables";

.current-notes {
    @include flex(center, center, column);
    .notes {
        @include flex(center, center, row);
        min-height: $h4-font-size;
        .current-note {
            font-size: $h4-font-size;
            min-width: 3ch;
            margin: 0 $quarter-percent;
        }
    }
}